/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       silence_1.0.0.0
 *
 */

.card {
    &__box {
        background: #fff;
        display: flex;
        border: 1px solid $green;
        border-radius: 12px;
        justify-content: space-between;
        padding: 7px;
        margin-bottom: 30px;
        align-items: center;

        @include breakpoint(mobile) {
            display: block;
        }


        .item__image {
            height: calc(100% - 75px);

            img {
                border-radius: 12px 12px 0 0;
            }
        }

        .item__box {
            margin: 0;
            flex: 0 0 48%;
            height: 253px;

            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
    }

    &__info {
        flex: 0 0 48%;
        text-align: center;
        padding: 10px 20px 10px 0;

        @include breakpoint(mobile) {
            padding: 10px;
            margin-top: 10px;
        }


        h2 {
            color: $orange;
            font-family: $barlow;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 900;
            font-size: 16px;
            line-height: 21px;
            margin: 0 0 14px;
        }

        .btn {
            padding: 10px;
            width: 100%;
            margin-top: 10px;
        }

        p {
            margin: 0;
            line-height: 1.5;
        }
    }
}

.item__box {
    height: calc(100% - 22px);

    .item__image {
        height: calc(100% - 75px);

        @include breakpoint(mobile) {
            height: 100%;
        }


        img {
            border-radius: 12px 12px 0 0;
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
}

.box {
    &__list {
        .owl-dots {
            position: relative;
            margin-top: 40px;
            text-align: center;

            button {
                background: $orange !important;
                width: 12px;
                height: 12px;
                border: 0;
                border-radius: 50%;
                margin: 0 25px;
                opacity: .5;

                @include breakpoint(mobile) {
                    margin: 0 10px;
                }


                &.active {
                    opacity: 1;
                }
            }
        }
    }

    &__text {
        font-size: 21px;
        letter-spacing: 2px;
        text-align: center;
        line-height: 31.5px;
    }

    &__item {
        text-align: center;

        //max-width: 192px;
        margin: 30px auto 0;

        &__header {
            &__title {
                font-weight: normal;
                font-family: $nene;
            }
        }

        &__text {
            letter-spacing: -0.011em;
            font-size: 13px;
            line-height: 24px;
            font-weight: 700;
            margin: 0 100px;

            @include breakpoint(mobile) {
                margin: 0;
            }
        }

        &__ast {
            color: #733E31;
            font-size: 11px;
            line-height: 16px;
        }

        &__title {
            background: url(./assets/images/item-bg-1.svg) no-repeat scroll center center;
            min-height: 115px;
            display: flex;
            align-items: center;
            justify-content: center;

            &__number {
                color: $orange;
                font-family: $barlow;
                font-weight: 500;
                font-size: 72px;
                margin: 0;
            }
        }

        .col-sm-4:nth-child(2) .box__item__title {
            background-image: url(./assets/images/item-bg-2.svg);
        }

        .col-sm-4:nth-child(3) .box__item__title {
            background-image: url(./assets/images/item-bg-3.svg);
        }

        .col-sm-4:nth-child(4) .box__item__title {
            background-image: url(./assets/images/item-bg-4.svg);
        }
    }

    &__promo {
        background: $yellow;
        border-radius: 12px;
        padding: 20px;
        text-align: right;
        height: 100%;

        @include breakpoint(ipad) {
            height: auto;
        }


        @include breakpoint(mobile) {
            text-align: center;
            padding-bottom: 100px;
        }


        h2 {
            color: $orange;
            font-weight: bold;
            font-size: 20px;
            line-height: 32px;

            @include breakpoint(ipad) {
                font-size: 16px;
            }
        }

        .btn-list {
            justify-content: end;
            margin-top: 20px;
        }

        &tion {
            background: $gray;
            border-radius: 12px;

            @include breakpoint(ipad) {
                margin-bottom: 30px;
            }


            &__body {
                text-align: center;
                padding: 20px 20px 0;
                font-size: 10px;
                min-height: 222px;

                h4 {
                    font-size: 11px;
                    line-height: 16px;
                }

                h2 {
                    letter-spacing: -0.022em;
                    font-size: 45px;
                    font-family: $barlow;
                    font-weight: 400;
                    color: $orange;
                    margin: 0 0 20px;
                }

                span {
                    font-size: 25px;
                }

                h3 {
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 20px;
                    font-family: $barlow;
                    text-transform: uppercase;
                    margin: 0 0 6px;
                }
            }

            .btn {
                color: $primary;
                width: 100%;
                border-radius: 0 0 12px 12px !important;
            }

            &.green {
                h2 {
                    color: $green;
                }
            }
        }
    }
}

.modules {
    &__list {
        margin-top: 70px;

        .owl-dots {
            position: relative;
            margin-top: 40px;
            text-align: center;

            button {
                background: $orange !important;
                width: 12px;
                height: 12px;
                border: 0;
                border-radius: 50%;
                margin: 0 25px;
                opacity: .5;

                @include breakpoint(mobile) {
                    margin: 0 10px;
                }


                &.active {
                    opacity: 1;
                }
            }
        }
    }

    &__image {
        margin: 0 auto 20px;
        border-radius: 12px;
        overflow: hidden;
        height: 196px;
        width: 196px;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__item {
        text-align: center;
        max-width: 196px;
        margin: auto;

        h2 {
            font-weight: 300;
            font-size: 16px;
            line-height: 33px;
        }
    }
}
