/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       silence_1.0.0.0
 *
 */

.card {
    position: relative;
    perspective: 1000px;
    border: 0 !important;
    perspective: 1000px;
    border-radius: $border-radius;

    // margin-bottom: $space-lg;
    margin-bottom: 3.5em;

    &__inner {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.6s linear;
        position: relative;
    }

    &:hover .card__inner {
        transform: rotateY(180deg);

        .card__back {
            backface-visibility: hidden;
        }
    }

    &__front, &__back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: $border-radius;
    }

    &__front {
        z-index: 2;
        backface-visibility: hidden;

        // transform: rotateY(0deg);

    }

    &__back {
        background-color: #fff;
        transition: transform .5s linear 0s;
        padding: 30px;
        font-weight: 300;
        font-size: 1.2em;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        overflow: scroll;
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow: hidden;

        &__title {
            font-weight: bold;
            color: $color_primary;
            font-size: 22px;
            line-height: 28px;
        }

        &__text {
            text-align: justify;
        }

        p {
            font-size: 18px;
            text-align: justify;
        }
    }

    &__title {
        text-align: center;
        font-weight: bold;
        color: $color_light;
        padding: 10px;
        font-size: 23px;
        line-height: 30px;
        text-transform: uppercase;
    }
}

.card-training {
    height: 500px;
    width: 350px;
    background-color: transparent !important;

    @media screen and (max-width: 500px) {
        height: 410px;
    }

    .btn {
        display: block;
        margin-top: 1rem;
    }

    &__category {
        position: absolute;
        color: #fff;
        width: 200px;
        font-size: 12px;
        top: 1rem;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        text-transform: uppercase;
    }

    &__details {
        position: absolute;
        bottom: 0;
        background: #83988D;
        left: 0;
        right: 0;
        z-index: 3;

        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 10px 0;
            padding: 10px 30px;

            @media screen and (max-width: 1150px) {
                padding: 10px 20px;
            }

            li {
                list-style: none;

                &:not(:last-child) {
                    margin-right: 15px;
                }

                img {
                    width: 30px;
                    height: 30px;
                    display: block;
                    margin: auto;
                }

                span {
                    font-size: 11px;
                    color: #fff;
                    padding: 0 8px;
                    text-transform: uppercase;

                    @media screen and (max-width: 1090px) {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

.card__back__text {
    position: relative;
    height: 220px;
    overflow: hidden;
    margin-bottom: 1rem;
    transition-duration: 1s;

    &:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 28px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }

    &.full {
        height: auto;
        overflow: scroll;

        &:after {
            display: none;
        }
    }
}

.card-post {
    max-width: 100%;
    height: 360px;
    margin-bottom: 16px;

    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
    }

    .btn {
        display: inline-block;
        margin-top: 0;
        max-width: 200px;
    }
}

.card-search {
    margin-bottom: 2rem;

    fieldset {
        padding: 1rem 0 0 !important;
        border-color: $color-secondary !important;
        height: 326px;
    }

    legend {
        text-transform: initial;
        color: $color-secondary;
    }

    img {
        width: 80px;
    }

    &__icon {
        height: 166px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__dropdown {
        background-color: $color-grey;
        width: 100%;
        padding: 0 0 1rem;
        height: 115px;
        border-radius: 0 0 $border-radius $border-radius;
    }
}

.box {
    &__list {
        .owl-dots {
            position: relative;
            margin-top: 40px;
            text-align: center;

            button {
                background: $orange;
                width: 12px;
                height: 12px;
                border: 0;
                border-radius: 50%;
                margin: 0 25px;
                opacity: .5;

                @include breakpoint(mobile) {
                    margin: 0 10px;
                }


                &.active {
                    opacity: 1;
                }
            }
        }
    }

    &__text {
        font-size: 21px;
        letter-spacing: 2px;
        text-align: center;
        line-height: 31.5px;
    }

    &__item {
        text-align: center;
        max-width: 192px;
        margin: 30px auto 0;

        h2 {
            letter-spacing: -0.011em;
            font-size: 13px;
            line-height: 24px;
            font-weight: 700;
            margin: 0;
        }

        p {
            color: #733E31;
            font-size: 11px;
            line-height: 16px;
        }

        &__title {
            background: url(./assets/images/item-bg-1.svg) no-repeat scroll center center;
            min-height: 115px;
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
                color: $orange;
                font-family: $barlow;
                font-weight: 500;
                font-size: 72px;
                margin: 0;
            }

            &.two {
                background-image: url(./assets/images/item-bg-2.svg);
            }

            &.three {
                background-image: url(./assets/images/item-bg-3.svg);
            }

            &.four {
                background-image: url(./assets/images/item-bg-4.svg);
            }
        }
    }

    &__promo {
        background: $yellow;
        border-radius: 12px;
        padding: 20px;
        text-align: right;
        height: 100%;

        @include breakpoint(ipad) {
            height: auto;
        }


        @include breakpoint(mobile) {
            text-align: center;
            padding-bottom: 100px;
        }


        h2 {
            color: $orange;
            font-weight: bold;
            font-size: 20px;
            line-height: 32px;

            @include breakpoint(ipad) {
                font-size: 16px;
            }
        }

        .btn-list {
            justify-content: end;
            margin-top: 20px;
        }

        &tion {
            background: $gray;
            border-radius: 12px;

            @include breakpoint(ipad) {
                margin-bottom: 30px;
            }


            &__body {
                text-align: center;
                padding: 20px 20px 0;
                font-size: 10px;
                min-height: 222px;

                h4 {
                    font-size: 11px;
                    line-height: 16px;
                }

                h2 {
                    letter-spacing: -0.022em;
                    font-size: 45px;
                    font-family: $barlow;
                    font-weight: 400;
                    color: $orange;
                    margin: 0 0 20px;
                }

                span {
                    font-size: 25px;
                }

                h3 {
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 20px;
                    font-family: $barlow;
                    text-transform: uppercase;
                    margin: 0 0 6px;
                }
            }

            .btn {
                color: $primary;
                width: 100%;
                border-radius: 0 0 12px 12px;
            }

            &.green {
                h2 {
                    color: $green;
                }
            }
        }
    }
}
