/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       silence_1.0.0.0
 *
 */

.form-control:focus {
    background-color: #f2f2f2 !important;
}

.your-message {
    input {
        height: 100%;
    }
}

.wpcf7-checkbox.form-control {
    display: none;
}
