/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       silence_1.0.0.0
 *
 */
/*==================================================================================
  NAV
==================================================================================*/
.navbar-expand-lg {
    .navbar-nav {
        .menu-item {
            .nav-link {
                text-transform: uppercase;
                color: $primary;
                padding: 20px;

                @include breakpoint(ipad) {
                    padding: 10px;
                    font-size: 13px;
                }


                @include breakpoint(tablet) {
                    padding: 20px 45px;
                }


                @include breakpoint(mobile) {
                    padding: 20px 30px;
                }


                &::before {
                    content: "";
                    background: $orange;
                    width: 0;
                    height: 1px;
                    position: absolute;
                    transition: 0.8s;
                    margin-top: -3px;
                }

                &:hover {
                    color: $orange;

                    &::before {
                        width: 21px;
                    }

                    &::after {
                        filter: none;
                        transform: rotate(180deg);
                    }
                }

                &.active {
                    color: $orange;

                    &::before {
                        width: 21px;
                    }

                    &::after {
                        filter: none;
                    }
                }
            }

            &:last-child {
                .nav-link {
                    background: linear-gradient(80.08deg, #FCEFB9 -11.53%, #F2A08D 60.32%, #9A6989 133.96%);
                    color: #fff;
                    font-weight: 700;

                    &::before {
                        background: #fff;
                    }

                    &:hover {
                        color: #fff;
                    }

                    &::after {
                        filter: brightness(10);
                    }
                }

                .dropdown-toggle {
                    &::after {
                        filter: brightness(10);
                    }
                }

                &:hover {
                    .nav-link {
                        color: #fff;

                        &::before {
                            background: #fff;
                        }

                        &::after {
                            filter: brightness(10);
                        }
                    }
                }
            }

            .dropdown-toggle {
                &::after {
                    background: url(./assets/images/dropdown.svg) no-repeat scroll 0 0 / 100%;
                    border: 0;
                    width: 13px;
                    height: 7px;
                    vertical-align: 1px;
                    margin-left: 8px;
                    filter: brightness(0);
                    transition: 0.4s;

                    @include breakpoint(tablet) {
                        position: absolute;
                        right: 45px;
                        top: 25px;
                    }


                    @include breakpoint(mobile) {
                        right: 30px;
                    }
                }
            }

            &:hover {
                .dropdown-menu {
                    display: block;
                }

                .nav-link {
                    color: $orange;

                    &::before {
                        width: 21px;
                    }

                    &::after {
                        filter: none;
                        transform: rotate(180deg);
                    }
                }
            }

            @include breakpoint(tablet) {
                .dropdown-menu {
                    border-radius: 0;
                    border: 0;
                    padding: 0 50px;
                    margin: 0;
                }
            }


            .dropdown-item {
                font-size: 13px;
                text-transform: uppercase;
            }
        }
    }

    .logo  {
        width: 5.5rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-size: contain;

        @include breakpoint(laptop) {
            width: 7rem;
        }
    }
}

.navbar {
    &-brand {
        position: relative;
        max-width: 10%;
    }

    &-toggler {
        color: $orange;
        width: 90px;
        height: 75px;
        background: $gray;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 700;

        span {
            &.bar {
                height: 3px;
                background: $orange;
                width: 47px;
                display: block;
                border-radius: 20px;
                margin-bottom: 2px;
                transform: rotate(-15deg);

                &:nth-child(2) {
                    transform: rotate(15deg);
                    transform-origin: 40px 0;
                }
            }

            &.text {
                display: none;
            }
        }

        &.collapsed {
            span {
                &.text {
                    display: block;
                }

                &.bar {
                    transform: none !important;
                }
            }
        }
    }

    @include breakpoint(tablet) {
        &-collapse {
            position: fixed;
            background: #fff;
            left: 0;
            right: 0;
            top: 74px;
            z-index: 99;

            &.show {
                height: calc(100vh - 74px);
            }
        }
    }
}

.nav.nav-tab {
    margin-bottom: $space-xl;
    justify-content: center;
    background-color: $color-grey;
    border-radius: $border-radius;
    padding: 10px;

    .nav-item {
        .nav-link {
            padding-left: 0;
            padding-right: 2.5rem;

            &:after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                transition: width .5s;
                background-color: $color-primary;
                margin: 0 auto;
                left: 33%;
            }

            &:hover {
                color: $color-primary !important;

                &:after {
                    width: 33% !important;
                }
            }

            &.active {
                color: $color-primary !important;

                &:after {
                    @include breakpoint(laptop) {
                        width: 33% !important;
                    }
                }
            }
        }
    }
}
