/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       silence_1.0.0.0
 *
 */
/*==================================================================================
  NAV
==================================================================================*/
nav.navbar.menu {
    display: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    @include breakpoint(laptop) {
        display: block;
    }
}

nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 210;
    width: 100vw;
    height: $header_height;
    justify-content: inherit;
    background-color: #fff;

    .logo  {
        width: 7rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 1199px) {
            width: 5.5rem !important;
        }
    }

    @media screen and (max-width: 1199px) {
        .mr-5 {
            margin-right: 0rem !important;
        }
    }

    a {
        color: $color-secondary-darker;
    }

    .navbar-collapse.show {
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: $header_height;
        padding: 15px;

        .navbar-nav {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 10px;
            right: 10px;
        }
    }

    .container {
        justify-content: inherit;
        height: 100%;
        
        .btn-search{
            @media screen and (max-width: 1065px) {
                padding: 8px 45px!important;
            }

            span{
                @media screen and (max-width: 1065px) {
                    margin-right: 0!important; 
                }
            }
        }
    }
}

.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav.nav-tab {
    margin-bottom: $space-xl;

    .nav-link {
        padding-left: 0;
    }
}

@include breakpoint(laptop) {
    .nav-item {
        a.nav-link {
            text-transform: uppercase;
            color: $color_secondary;
            position: relative;

            &:after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                transition: width .5s;
                background-color: $color-primary;
                margin-left: 0;
            }

            &.active, &:hover {
                color: $color-primary !important;

                &:after {
                    width: 35px;
                }
            }
        }
    }
}


.nav-item {
    a.nav-link {
        @media screen and (max-width: 991px) {
            font-size: 15px;
        }
    }
}

.dropdown-toggle::after {
    border: none !important;
}
