/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       silence_1.0.0.0
 *
 */
/*==================================================================================
  NAV
==================================================================================*/
nav.navbar.menu {
    display: none;

    @include breakpoint(laptop) {
        display: block;
    }
}

nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100vw;
    height: $header_height;
    justify-content: inherit;
    background-color: #fff;

    .logo  {
        width: 12rem;
        height: 3rem;

        //margin-right: 2rem;
        background-repeat: no-repeat;
        background-size: contain;
    }

    a {
        color: $color-secondary-darker;
    }

    .navbar-collapse.show {
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: $header_height;
        padding: 15px;

        .navbar-nav {
            display: flex;
            justify-content: space-around;
            height: 100%;
        }
    }

    .container {
        justify-content: inherit;
        height: 100%;
    }
}

.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav.nav-tab {
    justify-content: center;
    margin-bottom: $space-xl;
}

@include breakpoint(laptop) {
    .nav-item {
        a.nav-link {
            text-transform: uppercase;
            color: $color_secondary;
            position: relative;

            &.active, &:hover {
                color: $color-primary !important;

                &:after {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 42px;
                    left: 0;
                    bottom: 0;
                    background-color: $color-primary;
                }
            }
        }
    }
}
