/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       silence_1.0.0.0
 *
 */

button, .btn {
    padding: 8px 50px !important;
    transition: 0,2s;
    display: inline-block;
    position: relative;
    border-radius: 30px;
    font-size: .8rem !important;
    text-transform: uppercase;
    font-weight: 300 !important;

    i {
        position: absolute;
        right: 1rem;
        bottom: 0;
        top: 55%;
        transform: translateY(-50%);
    }

    span {
        margin-right: 32px;
    }

    &:hover, &:active, &:focus {
        transition: $transition_fast;
    }

    &:disabled {
        //
   
    }
}

.btn.btn-primary {
    background-color: $color_primary;
    border: 2px solid $color_primary;
    color: $color_light;

    &:hover, &:active, &:focus {
        background-color: transparent;
        color: $color_primary;
        border: 2px solid $color_primary;
    }
}

.btn.btn-secondary {
    border: 2px solid $color_primary;
    color: $color_primary;
    background-color: transparent;

    &:hover, &:active, &:focus {
        background-color: $color_primary;
        color: $color_light;
        border: 2px solid $color_primary;
    }
}


.container-button{
    text-align: center;
    margin-top: 1.5rem;
}