/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       silence_1.0.0.0
 *
 */

button, .btn {
    padding: 8px 50px !important;
    transition: 0,2s;
    display: inline-block;
    position: relative;
    border-radius: 30px;
    font-size: .8rem !important;
    text-transform: uppercase;
    font-weight: 300 !important;

    i {
        position: absolute;
        right: 1rem;
        bottom: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    span {
        margin-right: 32px;
    }

    &:hover, &:active, &:focus {
        transition: $transition_fast;
    }

    &:disabled {
        //
   
    }
}

.btn.btn-primary {
    color: #fff !important;

    &:hover, &:active, &:focus {
        //
   
    }
}

.btn.btn-secondary {
    &:hover, &:active, &:focus {
        //
   
    }
}

.btn.btn-outline-primary {
    color: $color_primary;
    border-width: 2px;
    background-color: #fff;

    &:hover, &:active, &:focus {
        color: #fff !important;
    }
}

.btn.btn-outline-secondary {
    border-width: 2px;

    &:hover, &:active, &:focus {
        //
   
    }
}
