/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       silence_1.0.0.0
 *
 */
input,
button,
a,
textarea,
select {
    &:focus,
    &:active {
        outline: 0 !important;
        box-shadow: 0 0 0 !important;
    }
}

input[type="submit"] {
    background-color: $color_primary !important;
    padding: 5px 20px;
    border: 2px solid $color_primary !important;
    transition: 0,2s;
    color: $color_light;
    border-radius: 30px;
    display: block;
    max-width: 200px;
    margin: auto;
}

input[type="submit"]:hover {
    background-color: transparent !important;
    color: $color_primary;
    transition: 0,2s;
}

.dropdown-menu {
    border: 0 !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px !important;

    a {
        border-radius: 10px;
    }
}

.custom-check {
    margin: 7px 0;

    input {
        display: none;

        &:checked ~ {
            label::before {
                background-image: url(../img/check.svg);
            }
        }
    }

    label {
        position: relative;
        cursor: pointer;
        font-size: 16px;
        padding-left: 35px;

        &::before {
            content: "";
            background: url(../img/un-check.svg) no-repeat scroll 0 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
        }
    }
}
