.team {
    &__box {
        text-align: center;
        margin-bottom: 75px;

        h2 {
            font-family: $barlow;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
            margin: 0 0 5px;
        }

        p {
            font-weight: 300;
            font-size: 13px;
            text-transform: uppercase;
        }

        .linked {
            display: inline-block;
            margin-top: 15px;
        }
    }

    &__image {
        border-radius: 110px;
        overflow: hidden;
        width: 230px;
        margin: 0 auto 20px;
        border: 1px solid $green;

        img {
            transform: scale(1.05);
        }
    }
}
