.section-accueil {
    height: 600px;
    overflow: hidden;

    h1 p {
        color: black;
    }

    &-video {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        object-fit: cover;
        position: absolute;
        width: 100%;
        z-index: -1;

        // transform: rotateY(3.142rad);
        height: 600px;
    }

    &-background {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
        }
    }

    .slick-active section {
        -webkit-animation: fadeInDownt .5s ease forwards;
        animation: fadeInDown .5s ease forwards;
    }

    .slick-active h1 p {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-name: fadeInDown;
    }

    .slick-active h1 p:nth-of-type(1) {
        -webkit-animation-delay: 0.20s;
        animation-delay: 0.20s;
    }

    .slick-active h1 p:nth-of-type(2) {
        -webkit-animation-delay: 0.90s;
        animation-delay: 0.90s;
    }

    .slick-active h1 p:nth-of-type(3) {
        -webkit-animation-delay: 1.60s;
        animation-delay: 1.60s;
    }

    .slick-active h1 p:nth-of-type(4) {
        -webkit-animation-delay: 2.20s;
        animation-delay: 2.20s;
    }
}
