main#sections {
    .section-text {
        h2{
            color: $color_primary;
            font-size: 23px;
            margin-bottom: 15px!important;
            font-weight: 500!important;
        }
    }
}
