.section-newsletter {
    h2{
        color: $color_light;
        text-transform: uppercase;
        max-width: 720px;
        margin: auto;

        @media screen and (max-width: 750px) {
            font-size: 26px!important;
        }

        @media screen and (max-width: 500px) {
            font-size: 22px!important;
        }
        
        @media screen and (max-width: 320px) {
            font-size: 19px!important;
            margin-bottom: 0;
        }
    }

    form{
        background-color: #fff;
        border-radius: 60px;
        padding: 12px;
        vertical-align: middle;
        display: flex;
        max-width: 720px;
        margin: 2.5rem auto 0px;
        justify-content: flex-end; 

        @media screen and (max-width: 500px) {
            display: block;
            background-color: inherit;
        }
    
        p{
            display: inline-block;
            margin-bottom: 0;
            height: 40px;
            width: 45%;

            @media screen and (max-width: 500px) {
                width: 100%;
                margin-bottom: 15px!important;
            }

            input{ 
                @media screen and (max-width: 500px) {
                    background-color: #fff!important;
                    text-align: center;
                }
            }
        }

        .wpcf7-submit{
            background-color: transparent!important;
            color: #d8ac4d!important;
            width: 100%;
            max-width: 100%!important;
            width: 100%;

            @media screen and (max-width: 500px) {
                background-color: #fff!important;
            }
        }
    }
}